* {
  padding: 0px;
  margin: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  font-size: 32px;
  color: #3c4858;
  text-align: center;
  margin-top: 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 60%;
  margin: auto;
  gap: 10px;
}
input[type="text"] {
  background: #c9cbd1;
  border: none;
  outline: none;
  height: 40px;
  width: 70%;
  font-weight: bold;
  font-size: 16px;
  color: #3c4858;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
form button {
  cursor: pointer;
  background: #fcd34e;
  border: none;
  outline: none;
  height: 40px;
  width: 30%;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
}
button:hover {
  background: #ffa200;
}
.redirect{
    text-align:center;
    font-family:"Arial", sans-serif;
    font-size:14px/1.2;
    line-height:24px;
    color:#666;
    margin-bottom: 30px;
    a{color:#666;}
}
.redirect a{
  font-size: large;
}